.card {
    display: flex;
    gap: 20px;

    .imgContainer {
        flex: 2;
        height: 180px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .txtContainer {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        img {
            width: 16px;
            height: 16px;
        }

        .title {
            font-size: 20px;
            font-weight: 600;
            color: #444;
            transition: all 0.4s ease;

            &:hover {
                color: #000;
                scale: 1.01;
            }
        }

        .address {
            font-size: 14px;
            display: flex;
            gap: 10px;
            color: #888;
        }

        .price {
            font-size: 20px;
            font-weight: 300;
            padding: 5px;
            border-radius: 5px;
            background-color: rgba(254, 204, 81, 0.438);
            width: max-content;
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .features {
                display: flex;
                font-size: 14px;
                gap: 10px;
            }

            .icons {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                cursor: pointer;

                .icon {
                    border: 1px solid #999;
                    padding: 2px 5px;
                    border-radius: 5px;

                    &:hover {
                        background-color: lightgray;

                    }
                }
            }
        }





    }
}